html,
body {
	background: linear-gradient(to bottom, #353752, #1FA1C6);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
	font-size: 30px;
	display: flex;
	align-items: center;
	gap: 40px;
}

img {
	width: 100px;
}