.navbar {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #0000003a;
}

.gradient-custom {
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(#353752)
}

.welcome-text {
    font-size: 18px;
}

.logout-button {
    background-color: #dc3545;
    border: none;
    color: #fff;
    padding: 5px 15px;
}

.logout-button:hover {
    background-color: #c82333;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: #fff;
    border: 2px solid #ccc;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 20px;
    text-align: center;
    min-width: 250px;
}

.card h2 {
    font-size: 24px;
    color: black;
}

.btn-primary {
    background-color: black;
    border: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    size: 0cap;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.error-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    }

.player-list {
    list-style: none;
    padding: 0;
}

.player-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.ban-button {
    background-color: #dc3545;
    border: none;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
}

.ban-button:hover {
    background-color: #c82333;
}
body {
    background: linear-gradient(to bottom, #353752, #1FA1C6);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    color:#333;
}
.scrollable-card {
    max-height: 100px;
    overflow-y: auto; 
}

h2 {
    font-weight: bold;
}

.load-btn {
	font-weight: bold;
	font-size: 20px;
}

